.login{
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 100vh;
    align-items: center;
    font-family: "inter";
}
.login_form{
    display: flex;
    flex-direction: column;
    
}
.login_form >h1{
    font-size: 35px;
    margin-bottom:15px ;
    padding-bottom: 10px;
    letter-spacing: -1px;
    
}

.login_form >input{
    background-color: aliceblue;
    min-width: 380px;
    padding: 20px 0 ;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: none;
    border:1px solid #80b2e4;
    border-style:groove;
    font-family: "Inter";
    border-radius: 2px;
    font-size: 15px;
    border-radius:23px;
   
}
::placeholder{
    color:slategray
}

.submit_btn {
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 70%);
	background-color:#79bbff;
	border-radius:24px;
	border:2px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
	font-weight:bold;
	font-style:italic;
	padding:16px 72px;
	text-decoration:none;

}

.submit_btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.submit_btn:active {
	position:relative;
	top:1px;
}




