@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.regApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 1rem 0.5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    background-color: rgb(92, 92, 227);
}

.regSection{
    width: 100%;
    max-width: 350px;
    min-height: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem;
    background-color: rgba(19, 74, 183, 0.4);
    border-radius: 15px;
}

.regH1{
    color: #fff;
    font-size: 30px; 
}

#regLabel{
    color:#fff;
    font-size: 18px;
}

.regP{
    padding-top: 30px ;
    font-size: 14px;
    color: aqua;
}

a, a:visited {
    color:#fff;
}
.regInput,

.regButton {
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 0.5rem;
  width: auto;
  font-size: 18px;
  
  
}




.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}